.navbar{
  margin-bottom:0;
  a{
    color: set-text-color($main-color) !important;
  }

  .active {
    background: darken($color:$main-color, $amount: 10);
  }
}
.bg-light {
  background-color: $main-color !important; 
}
.card-header{
  background-color: $main-color;

}
.btn-link {
  color: set-text-color($main-color) !important;
}


.showcase{
  background: url(../img/showcase.jpeg) no-repeat;
  padding: 30px 0;
  padding-right: 40px;


  h1{
    font-size:40px;
  }

  .container-fluid{
    background: #fff;
    opacity: 0.8;
    padding:30px;
    margin:30px;
    min-height: 150px;
  }

.lead{
  margin-top:40px;
}
  .fa{
    font-size: 45px;
    margin-left: 15px;
  }
  img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
}

.section-a{
  padding: 30px 0;
  text-align: center;
  background: $main-color;
  color: set-text-color($main-color);

  .fa{
    font-size: $icon-size;
  }
  
%containerTile {
  width: 100%;
  height: 300px;
  text-align:center;
  background-color: transparent;
  background-size: contain;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  margin: 20px;
  -webkit-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
  }

.angularTile {
    @extend %containerTile;
    background-image: url(../img/angular.png);
}
.reactTile {
    @extend %containerTile;
    background-image: url(../img/react.png);
}
.bootstrapTile {
    @extend %containerTile;
    background-image: url(../img/bootstrap4.png);
}
.sassTile {
    @extend %containerTile;
    background-image: url(../img/sass.png);
}
.jqueryTile {
    @extend %containerTile;
    background-image: url(../img/jquery.png);
}
.reduxTile {
    @extend %containerTile;
    background-image: url(../img/redux.png);
}
.es6Tile {
    @extend %containerTile;
    background-image: url(../img/es6.png);
}
  .nodeTile {
    @extend %containerTile;
    background-image: url(../img/node.png);
  }
.overlay {
  width: 100%;
  height: 100%;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  
  background: rgba(77, 77, 77, .9);
  color: $main-color;
  opacity: 0;
  transition: all 0.5s;
  
  font-family: 'Playfair Display', serif;
}


.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  
  transform: translateY(40px);
  transition: all 1.0s;
  hr {
    display: block;
    width: 0;
    
    border: none;
    border-bottom: solid 2px $main-color;
    
    transition: all .5s;
  }
}

.details {
  font-size: 16px;
  font-weight: bold;  
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  .item1 {
    color: lighten(rgb(77, 77, 77),40%);
  }
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
  i {
    font-size: 16px;
  }
  span {
    margin-left: 10px;
  }
}

%containerTile:hover .overlay {
  opacity: 1;
  & .head {
    transform: translateY(0px);
  }
  
  & hr {
    width: 85%;
    transition-delay: 0.8s;
  }
  
  & .details {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  
  & .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}

}

.section-b{
  background:#e6ebf1;
  padding: 30px 0;

  img{
    width: 300px;
    height: 350px;
  }
}

.panel-heading h4{
  color: set-text-color($main-color);
}


/*Sentence*/
.sentence{
  color: #222;
  font-size: 30px;
  text-align: left;
}
/*Wrapper*/
.wrapper{
 background-color: #f5f5f5;
 font-family: 'Raleway', sans-serif;
 margin: 100px auto;
 padding: 40px 40px;
 position: relative;
 width: 70%;
}

/*Vertical Sliding*/
.slidingVertical{
display: inline;
text-indent: 8px;

 span{
animation: topToBottom 12.5s linear infinite 0s;
-ms-animation: topToBottom 12.5s linear infinite 0s;
-webkit-animation: topToBottom 12.5s linear infinite 0s;
color: $main-color;
opacity: 0;
overflow: hidden;
position: absolute;
}
 span:nth-child(2){
animation-delay: 2.5s;
-ms-animation-delay: 2.5s;
-webkit-animation-delay: 2.5s;
}
 span:nth-child(3){
animation-delay: 5s;
-ms-animation-delay: 5s;
-webkit-animation-delay: 5s;
}
 span:nth-child(4){
animation-delay: 7.5s;
-ms-animation-delay: 7.5s;
-webkit-animation-delay: 7.5s;
}
 span:nth-child(5){
animation-delay: 10s;
-ms-animation-delay: 10s;
-webkit-animation-delay: 10s;
}
/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
}


.title-bar {
  background: url(../img/showcase.jpg) no-repeat 0 -300px;
  padding-bottom: 10px;
  border-bottom: 4px solid $main-color;
}

.main {
  margin-top:30px;
}

footer {
  padding:30px 0;
  background: darken($main-color, 10%);
  color: set-text-color($main-color);
  a {
    color: #a00f1c;
  }
  .border-4,.border-3  {
    border-width:3px !important;
}
}


@keyframes change-background {
  0% {
    color: #a00f1c;
  }
  50% {
    color: white;
  }
  100% {
    color: #a00f1c;
  }
}


@keyframes bounce-text{
  0% {
    font-size: 0px;

  }
  60% {
    font-size: 2.2em;

  }
  100% {
    font-size: 2em;
  }
}



@mixin change-background {
  @include animate(change-background, 4s, infinite, normal, 1s);
}
@mixin  bounce-text {

  @include animate( bounce-text, 1s, 1, bottom, .5s);
}

.text-bounceIn {
  text-align: center;
  font-size: 0px;
  font-size: 2em !important;
  @include bounce-text;
}

.change-background {
  @include change-background;
}

